@model LSD.Models.Promocao

@{
    ViewData["Title"] = "Delete";
}



<h1>Quer mesmo apagar essa promoção?</h1>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DotPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DotPromo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
